/* Importar la fuente Inter desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

/* Estilos generales */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.topbar-links {
    display: flex;
    width: 1200px;
    align-items: start;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-size: 12px;
    margin-top: 12px;
}

.links-topbar{
    display: flex;
    gap: 35px;
}

.links-topbar a {
    font-size: 13px;
    color: #7c7c7c;
    text-decoration: none;
    margin-left: 6px;
}

.footer-links a:hover {
    color: #000000;
    text-decoration: none;
}

.iconos-topbar {
    display: flex;
    gap: 20px;
}


/* ------------------------------------------------- */

.conte-ops {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.ops{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.img-ops {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-ops{
    font-size: 12px;
    font-weight: 500;
    color: #4b4b4b;
}

/* ------------------------------------------------- */

/* Banner */
.hero1 {
    position: relative;
    width: 1406px;
    height: 600px;
    background: url('https://www.apple.com/v/airpods-4/c/images/overview/welcome/hero__1z1ep1te3eq2_xlarge.jpg') no-repeat center center/cover;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 40px;
}

.hero-content1 {
    position: absolute;
    left: 60px;
    bottom: 40px;
    color: white;
}

.hero-content1 h1 {
    font-size: 64px;
    font-weight: 550;
    text-align: left;
    line-height: 30px;
}

.hero-content1 .description1 {
    font-size: 22px;
    margin-bottom: 32px;
}

.hero-content1 .prices1 span {
    font-size: 16px;
    font-weight: light;
    margin-right: 32px;
}

.hero-actions1 {
    position: absolute;
    bottom: 40px;
    right: 60px;
    display: flex;
    gap: 12px;
}


.hero {
    position: relative;
    width: 1406px;
    height: 600px;
    background: url('https://s.yimg.com/ny/api/res/1.2/srpY5rMO9XEXlXbJwGInvA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTU0MA--/https://media.zenfs.com/en/techradar_949/3f085f4949e5fd39aecb94ff46f39272') no-repeat center center/cover;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 40px;
}

.hero-content {
    position: absolute;
    left: 60px;
    bottom: 40px;
    color: white;
}

.hero-content h1 {
    font-size: 64px;
    font-weight: 550;
    text-align: left;
    line-height: 30px;
}

.hero-content .description {
    font-size: 22px;
    margin-bottom: 32px;
}

.hero-content .prices span {
    font-size: 16px;
    font-weight: light;
    margin-right: 32px;
}

.hero-actions {
    position: absolute;
    bottom: 40px;
    right: 60px;
    display: flex;
    gap: 12px;
}

.btn {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
}

.learn-more {
    background: white;
    color: black;
}

.learn-more:hover {
    background: #f1f1f1;
}

.buy {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.buy:hover {
    color: black;
    background-color: white;
}

/* ------------------------------------------------- */

/* Estilo del título principal */
h1 {
    font-weight: 600;
    font-size: 52px;
    margin-top: 60px;
    margin-bottom: 20px;
    line-height: 100%;
    text-align: center;
}

p{
    font-weight: 350;
    font-size: 13px;
    line-height: 130%;
}

.NC{
    font-size: 14px;
    font-weight: 500;
    line-height: 0%;


}

h2{
    display: block;
    height: 44px;
    line-height: 44px;
}

/* Contenedor de los productos */

.Content-2 {
    width: 100%; /* Ocupar todo el ancho de la pantalla */
    max-width: 100%; /* Elimina cualquier límite de ancho */
    margin: 0; /* Elimina márgenes extra */
    padding: 40px 0; /* Agrega un poco de espacio arriba y abajo */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.Content-products {
    display: flex; /* Hace que los productos estén en una fila */
    justify-content: center; /* Espacio uniforme entre ellos */
    align-items: center; /* Centra los elementos verticalmente */
    flex-wrap: wrap; /* Permite que los elementos se acomoden en varias filas si es necesario */
    width: 100%; /* Tamaño del contenedor */
    max-width: 1200px; /* Tamaño máximo del contenedor */
    margin: 0px;
    gap: 80px;
}

.Producto {
    width: 209px; /* Tamaño del contenedor */
    height: 500px;
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    gap: 16px; /* Espaciado entre los elementos internos */
    padding: 0px; /* Agrega un poco de espacio dentro del contenedor */
    border: 0px solid #ddd; /* Opcional, solo para visualizar los bordes */
    border-radius: 8px; /* Bordes redondeados */
    text-align: center; /* Centra los textos */
    align-items: center;
    justify-content: flex-end;
}

.img {
    display: flex;
    align-items: flex-end; /* Alinea la imagen abajo */
    height: 180px; /* Para ocupar toda la altura disponible */
    width: auto; /* La imagen se adapta al tamaño del contenedor */
}

.Imagen {
    width: auto; /* La imagen se adapta al tamaño del contenedor */
    height: 150px; /* Tamaño máximo */
}

.detalle {
    display: flex;
    height: 54px;
    flex-direction: column;
    gap: 4px;
}

button {
    background-color: #0071e3;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
}

button:hover {
    background-color: #005bb5;
}

.link{
    font-size: 13px;
    font-weight: 300;
    color: #0071e3;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: #005bb5;
}

.precio{
    font-size: 15px;
    font-weight: 500;
}

.acciones {
    display: flex;
    flex-direction: column; /* Apila los elementos en columna */
    align-items: center; /* Centra los elementos */
    gap: 6px; /* Espaciado entre los botones */
}

/* ------------------------------------------------- */

/* Footer */
.footer-content {
    background-color: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 60px;
    gap: 80px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100vw;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    width: 1200px;
}

.text-logo {
    font-weight: light;
    margin-left: 6px;

}

.unico {
    font-size: 12px;
    font-weight: light;
    color: #a8a8a8;
    text-align: left;
}

.footer-links {
    display: flex;
    width: 1200px;
    align-items: start;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-size: 12px;
}

.footer-links a {
    font-size: 13px;
    color: #7c7c7c;
    text-decoration: none;
    margin-left: 6px;
}

.footer-links a:hover {
    color: #000000;
    text-decoration: none;
}